.toolbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background: rgba(45, 43, 163, 0.774);
    height: 56px; 

}
.toolbar_navigation{
    display:flex;
    height:100%;
    align-items:center;
    padding: 0 1rem;
    font-size: 1.3rem;
}
.toolbar_logo {
    margin-left:1rem;
}
.toolbar_logo a{
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}
.spacer{
   flex:1;
}
.toolbar-nav-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
}
.toolbar-nav-items li{
    padding: 0 0.35 rem;
   
    
}

.toolbar-nav-items a{
    color:rgb(171, 204, 226);
    text-decoration:none;
}
.toolbar-nav-items a:hover,
.toolbar-nav-items a:active {
    color: red;
}